<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdh.redpacket.system.mapper.AccessTokenMapper">
  <resultMap id="BaseResultMap" type="com.hdh.redpacket.system.model.AccessToken">
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="access_token" property="accessToken" />
    <result column="session_key" property="sessionKey" />
    <result column="expire_time" property="expireTime" />
    <result column="renew_time" property="renewTime" />
    <result column="create_time" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, access_token, session_key, expire_time, renew_time, create_time
  </sql>

    <select id="getByAccessToken" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_access_token
        where access_token = #{accessToken}
    </select>

    <delete id="deleteByUserId">
        delete from sys_access_token
        where user_id = #{userId}
    </delete>

    <select id="getUserByAccessToken" resultType="com.hdh.redpacket.user.model.User">
        select
        b.id, b.name, b.email, b.password, b.salt, b.register_time registerTime,b.gender,
        b.nickname,b.tel,b.invite_by inviteBy,b.state,
        b.invite_code inviteCode,b.platform
        from sys_access_token a
        inner join sys_user b on a.user_id = b.id
    </select>

    <!--<insert id="insert" parameterType="com.hdh.redpacket.system.model.AccessToken">-->
        <!--insert into sys_access_token(user_id, access_token, session_key, expire_time, renew_time, create_time)-->
        <!--values(#{userId},#{accessToken},#{sessionKey},#{expireTime},#{renewTime},#{createTime})-->
    <!--</insert>-->
</mapper>