<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdh.redpacket.user.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.hdh.redpacket.user.model.User">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="salt" jdbcType="VARCHAR" property="salt" />
      <result column="register_time" jdbcType="TIMESTAMPS" property="register_time" />
      <result column="gender" jdbcType="INTEGER" property="gender" />
      <result column="nickname" jdbcType="VARCHAR" property="nickname" />
      <result column="tel" jdbcType="VARCHAR" property="tel" />
  </resultMap>

    <sql id="Base_Column_List">
        id, name, email, password, salt, register_time,gender,nickname,tel
    </sql>

    <select id="getByQuery" parameterType="com.hdh.redpacket.user.model.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        <trim prefix="where" prefixOverrides="and">
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
        </trim>
    </select>

    <select id="getByEmail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where email = #{email}
    </select>

    <select id="getByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where name = #{name}
    </select>
</mapper>