<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdh.redpacket.user.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.hdh.redpacket.user.model.User">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>

  <sql id="Base_Column_List">
    uid, user_name
  </sql>

    <select id="getByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from acc_user
        where uid=#{uid}
    </select>
</mapper>